In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(25)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
475,tt1321509,21000000,49050886,Death at a Funeral,Zoe Saldana|James Marsden|Martin Lawrence|Pete...,Neil LaBute,This is one sad family.,Aaron's father's funeral is today at the famil...,92,Comedy,Parabolic Pictures|Screen Gems,4/15/2010,5.7,2010
467,tt1470023,10000000,6110000,MacGruber,Will Forte|Kristen Wiig|Val Kilmer|Ryan Philli...,Jorma Taccone,He's the ultimate tool.,Ex-special operative MacGruber (Forte) is call...,90,Action|Adventure|Comedy,Relativity Media,5/21/2010,5.2,2010
743,tt1411697,80000000,254455986,The Hangover Part II,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,The Wolfpack Is Back,The Hangover crew heads to Thailand for Stu's ...,102,Comedy,Legendary Pictures|Living Films|Green Hat Film...,5/25/2011,6.1,2011
77,tt1754656,64000000,97571250,The Little Prince,Jeff Bridges|Rachel McAdams|Paul Rudd|Marion C...,Mark Osborne,Growing up isn't the problem... forgetting is.,Based on the best-seller book 'The Little Prin...,92,Adventure|Animation|Fantasy,Onyx Films|Orange Studios|CityMation|On Entert...,7/29/2015,7.5,2015
204,tt1742334,35000000,17508518,Sabotage,Arnold Schwarzenegger|Sam Worthington|Mireille...,David Ayer,Leave no loose ends,"In ""Sabotage"", Arnold Schwarzenegger leads an ...",110,Action|Drama|Thriller|Crime,Open Road Films|QED International|Albert S. Ru...,3/28/2014,5.4,2014
1593,tt0337563,37000000,96455697,13 Going On 30,Jennifer Garner|Mark Ruffalo|Judy Greer|Andy S...,Gary Winick,"For some, 13 feels like it was just yesterday....",After total humiliation at her thirteenth birt...,98,Comedy|Fantasy|Romance,Columbia Pictures|Revolution Studios|Thirteen ...,4/13/2004,6.1,2004
1785,tt0368794,20000000,4001121,I'm Not There.,Cate Blanchett|Heath Ledger|Julianne Moore|Ben...,Todd Haynes,All I Can Do Is Be Me Whoever That Is,Six actors portray six personas of music legen...,135,Drama|Music,Endgame Entertainment|Rising Star|Killer Films...,10/1/2007,6.5,2007
154,tt1121096,95000000,114178613,Seventh Son,Jeff Bridges|Julianne Moore|Ben Barnes|Alicia ...,Sergey Bodrov,"When darkness falls, the son will rise. When t...","John Gregory, who is a seventh son of a sevent...",102,Adventure|Fantasy,Legendary Pictures|Thunder Road Pictures|Outla...,12/12/2014,5.1,2014
937,tt0284490,85000000,77741732,Showtime,Robert De Niro|Rachael Harris|Eddie Murphy|Zai...,Tom Dey,Lights. Camera. Aggravation.,A spoof of buddy cop movies where two very dif...,95,Action|Comedy,Village Roadshow Pictures|NPV Entertainment|Wa...,3/14/2002,5.2,2002
1230,tt2334879,150000000,205366737,White House Down,Channing Tatum|Jamie Foxx|Joey King|Maggie Gyl...,Roland Emmerich,It Will Start Like Any Other Day.,Capitol Policeman John Cale has just been deni...,131,Action|Drama|Thriller,Columbia Pictures|Centropolis Entertainment|Ir...,6/27/2013,6.4,2013
521,tt0257106,45000000,141220678,Scary Movie 2,Anna Faris|Marlon Wayans|James DeBello|Shawn W...,Keenen Ivory Wayans,No More Mercy. No More Shame. No More Sequels ...,While the original parodied slasher flicks lik...,83,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/4/2001,5.5,2001
173,tt1086772,40000000,123494610,Blended,Drew Barrymore|Adam Sandler|Wendi McLendon-Cov...,Frank Coraci,"Single Dad, No Clue. Single Mum, Flying Solo.","After a bad blind date, a man and woman find t...",117,Comedy,Happy Madison Productions|Karz Entertainment|W...,5/21/2014,6.7,2014
541,tt0272020,72000000,27642707,The Last Castle,Robert Redford|James Gandolfini|Mark Ruffalo|S...,Rod Lurie,A Castle Can Only Have One King,A Court Martialed general rallies together 120...,131,Action|Drama|Thriller,DreamWorks SKG,10/19/2001,7.1,2001
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012
1387,tt0408790,55000000,223387299,Flightplan,Jodie Foster|Peter Sarsgaard|Sean Bean|Kate Be...,Robert Schwentke,If Someone Took Everything You Live For... How...,"A claustrophobic, Hitchcockian thriller. A ber...",98,Thriller|Drama|Mystery,Imagine Entertainment|Touchstone Pictures,9/22/2005,6.0,2005
1100,tt0316396,100000000,121975011,Peter Pan,Jeremy Sumpter|Jason Isaacs|Rachel Hurd-Wood|R...,P.J. Hogan,All children grow up except one.,"In stifling Edwardian London, Wendy Darling me...",113,Adventure|Fantasy|Family,Columbia Pictures|Universal Pictures|Revolutio...,12/25/2003,6.7,2003
466,tt1287468,85000000,112483764,Cats & Dogs 2 : The Revenge of Kitty Galore,James Marsden|Nick Nolte|Christina Applegate|B...,Brad Peyton,Just like real spies... only furrier.,The ongoing war between the canine and feline ...,82,Comedy|Family,Village Roadshow Pictures,7/30/2010,5.0,2010
1147,tt0285531,68000000,75715436,Dreamcatcher,Morgan Freeman|Thomas Jane|Jason Lee|Damian Le...,Lawrence Kasdan,A circle of friendship. A web of mystery. A pa...,Four boyhood pals perform a heroic act and are...,136,Drama|Horror|Science Fiction|Thriller,Village Roadshow Pictures|Castle Rock Entertai...,3/21/2003,5.1,2003
192,tt1020072,20000000,66787908,Selma,David Oyelowo|Tom Wilkinson|Carmen Ejogo|AndrÃ...,Ava DuVernay,"Martin Luther King, Lyndon Baines Johnson and ...","""Selma,"" as in Alabama, the place where segreg...",127,History|Drama,Plan B Entertainment|Harpo Films|Celador Films...,12/25/2014,7.5,2014
212,tt1418377,65000000,71154592,"I, Frankenstein",Aaron Eckhart|Yvonne Strahovski|Bill Nighy|Jai...,Stuart Beattie,"In the battle between good and evil, an immort...","200 years after his shocking creation, Dr. Fra...",92,Horror|Thriller,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/22/2014,5.1,2014
1629,tt0381707,37000000,113086475,White Chicks,Shawn Wayans|Marlon Wayans|Jaime King|Frankie ...,Keenen Ivory Wayans,They're going deep undercover.,"Two FBI agent brothers, Marcus and Kevin Copel...",109,Comedy,Columbia Pictures|Revolution Studios|Wayans Br...,6/23/2004,6.4,2004
1617,tt0391198,10000000,183474602,The Grudge,Sarah Michelle Gellar|Jason Behr|William Mapot...,Takashi Shimizu,It never forgives. It never forgets.,Karen Davis is an American Nurse moves to Toky...,92,Horror|Thriller|Mystery,Ghost House Pictures|Vertigo Entertainment|Sen...,10/22/2004,5.8,2004
1694,tt0389790,150000000,287594577,Bee Movie,Jerry Seinfeld|RenÃ©e Zellweger|Matthew Broder...,Steve Hickner|Simon J. Smith,Born to bee wild.,"Barry B. Benson, a bee who has just graduated ...",91,Family|Animation|Adventure|Comedy,Pacific Data Images (PDI)|DreamWorks Animation...,10/28/2007,5.6,2007
1149,tt0309530,35000000,20298207,Down with Love,RenÃ©e Zellweger|Ewan McGregor|Sarah Paulson|D...,Peyton Reed,The ultimate catch has met his match,"Aaaah... it's New York City in 1962, and love ...",101,Action|Comedy|Romance|Thriller,Regency Enterprises|Fox 2000 Pictures|Epsilon ...,5/8/2003,6.0,2003
729,tt0945513,32000000,147332697,Source Code,Jake Gyllenhaal|Michelle Monaghan|Vera Farmiga...,Duncan Jones,Make Every Second Count,Decorated soldier Captain Colter Stevens wakes...,93,Thriller|Science Fiction|Mystery,The Mark Gordon Company|Vendome Pictures,3/30/2011,7.0,2011

In [314]:
data.describe(include='object')

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies
count,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624
top,tt2103254,Fantastic Four,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Steven Soderbergh,Misery loves family.,A drunken playboy stands to lose a wealthy inh...,Comedy,New Line Cinema
freq,1,2,3,13,2,1,141,21

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

In [5]:
data.columns

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year'],
      dtype='object')

# Предобработка

In [168]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [171]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [172]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [8]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [179]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

In [178]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [180]:
round(data.runtime.mean())

110

In [181]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [175]:
data.runtime.median()

107.0

In [182]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [5]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

In [183]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [31]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [197]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [179]:
data.imdb_id[data.profit > 0].count()

1478

In [198]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [180]:
data.original_title[data.profit == data.profit[data.release_year == 2008].max()]

599    The Dark Knight
Name: original_title, dtype: object

In [187]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [181]:
data.original_title[data.profit == data.profit[(data.release_year <= 2014) & (data.release_year >= 2012)].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [188]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [195]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list = data.genres.str.cat(sep='|').split('|')
Counter(genres_list).most_common(1)[0][0]

'Drama'

ВАРИАНТ 2

In [10]:
genres_list = pd.Series(data.genres.str.cat(sep='|').split('|'))
genres_list.describe()['top']

'Drama'

ВАРИАНТ 3

In [7]:
genres = data.genres.apply(lambda x: x.split('|'))
loop = {}
for i in genres:
    for g in i:
        if g in loop:
            loop[g] +=1
        else: loop[g] = 1
sorted(loop, key=loop.get, reverse=True)[0]

'Drama'

In [ ]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [269]:
profit_data = data[data.profit > 0]
genres_list = profit_data.genres.str.cat(sep='|').split('|')
Counter(genres_list).most_common(1)[0][0]

'Drama'

In [8]:
profit_data = data[data.profit > 0]
genres_list = pd.Series(profit_data.genres.str.cat(sep='|').split('|'))
genres_list.describe()['top']

'Drama'

In [216]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [184]:
data.groupby('director')['profit'].sum().sort_values(ascending=False)[:1]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

In [194]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [194]:
director_list = data.director[data.genres.str.contains('Action')].str.cat(sep='|').split('|')
Counter(director_list).most_common(1)[0][0]

'Robert Rodriguez'

In [188]:
Counter(director_list).most_common(1)

[('Robert Rodriguez', 9)]

In [217]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [242]:
data[data.release_year == 2012]
data_2012 = data[data.release_year == 2012]
cast_list = data_2012.cast.str.cat(sep = '|').split('|')
cast_revenue_dict = {x:data_2012.revenue[data_2012.cast.str.contains(x)].sum() for x in cast_list}
sorted(cast_revenue_dict, key=cast_revenue_dict.get, reverse=True)[0]

'Chris Hemsworth'

In [200]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [262]:
budget_data = data[data.budget > data.budget.mean()]
cast_list = budget_data.cast.str.cat(sep = '|').split('|')
hb_actors = pd.Series({x:budget_data.imdb_id[budget_data.cast.str.contains(x)].count() for x in cast_list})
hb_actors.sort_values(ascending=False).index[0]

'Matt Damon'

In [201]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [266]:
nicolas_data = data[data.cast.str.contains('Nicolas Cage')]
nicolas_genres = nicolas_data.genres.str.cat(sep='|').split('|')
Counter(nicolas_genres).most_common(1)[0][0]

'Action'

In [202]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [276]:
data2 = data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit < 0)]
data2.original_title[data2.profit == data2.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [203]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [280]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [204]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [282]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2014

In [205]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [81]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month.astype('str')
data.describe(include='object')['month']['top']

'9'

In [206]:
answers['20'] = '2014'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [82]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.month[(data.month == 7)|(data.month == 8)|(data.month == 9)].count()

530

In [207]:
answers['21'] = '530'

In [83]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month.astype('str')
data.month[(data.month == '6')|(data.month == '7')|(data.month == '8')].count()

450

In [208]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [158]:
winter_data = data[(data.month == '1')|(data.month == '2')|(data.month == '12')]
winter_dir = winter_data.director.str.cat(sep='|').split('|')
winter_dir
Counter(winter_dir).most_common(1)[0][0]

'Peter Jackson'

In [209]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [113]:
data['len_name'] = data.original_title.apply(lambda x: len(x))
companies_list = data.production_companies.str.cat(sep="|").split("|")
companies_dict = {x:list(data.len_name[data.production_companies.str.contains(x)]) for x in companies_list}
companies_dict_2 = {}
for companies in companies_dict:
    if len(companies_dict[companies]) != 0:
        companies_dict_2[companies] = companies_dict[companies]
final_dict = {x:sum(companies_dict_2[x])/len(companies_dict_2[x]) for x in companies_dict_2}
sorted(final_dict, key=final_dict.get, reverse=True)[0]

'Four By Two Productions'

In [210]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [114]:
data['words_overview'] = data.overview.apply(lambda x: len(x.split(" ")))
companies_list = data.production_companies.str.cat(sep="|").split("|")
companies_dict = {x:list(data.words_overview[data.production_companies.str.contains(x)]) for x in companies_list}
companies_dict_2 = {}
for companies in companies_dict:
    if len(companies_dict[companies]) != 0:
        companies_dict_2[companies] = companies_dict[companies]
final_dict = {x:sum(companies_dict_2[x])/len(companies_dict_2[x]) for x in companies_dict_2}
sorted(final_dict, key=final_dict.get, reverse=True)[0]

'Midnight Picture Show'

In [211]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [67]:
data.original_title[data.vote_average > data.vote_average.quantile(q=0.99)]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [212]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [219]:
actors_duet = {'Johnny Depp|Helena Bonham Carter':0, 'Ben Stiller|Owen Wilson':0, 'Vin Diesel|Paul Walker':0, 
               'Adam Sandler|Kevin James':0, 'Daniel Radcliffe|Rupert Grint':0}
for actors in actors_duet.keys():
    actors_duet[actors] = data.original_title[(data.cast.str.contains(actors.split('|')[0]))&(data.cast.str.contains(actors.split('|')[1]))].count()
sorted(actors_duet, key=actors_duet.get, reverse=True)[0] 
actors_duet

{'Johnny Depp|Helena Bonham Carter': 6,
 'Ben Stiller|Owen Wilson': 6,
 'Vin Diesel|Paul Walker': 5,
 'Adam Sandler|Kevin James': 5,
 'Daniel Radcliffe|Rupert Grint': 8}

ВАРИАНТ 2

In [ ]:
actors = list(set(data.cast.str.cat(sep='|').split('|')))
actors_column = pd.DataFrame({'actor':actors, 'movies_count':[data.original_title[data.cast.str.contains(x)].count() for x in actors]})
actors_column_2 = actors_column[actors_column.movies_count > round(actors_column.movies_count.mean())]
top_actors = list(actors_column_2.actor)
pairs_actors = list(it.combinations(top_actors, 2))
pairs_actors_dict = {}
for i in pairs_actors:
    pairs_actors_dict[i] = 0
for actors in pairs_actors:
    pairs_actors_dict[actors] = data.original_title[(data.cast.str.contains(actors[0])) & (data.cast.str.contains(actors[1]))].count()
sorted(pairs_actors_dict, key=pairs_actors_dict.get, reverse=True)

In [213]:
answers['27'] = 'Daniel Radcliffe|Rupert Grinte'

# Submission

In [214]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': 'Daniel Radcliffe|Rupert Grinte',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '8': '1478',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '530',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [218]:
# и убедиться что ни чего не пропустил)
len(answers)

27