In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(25)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
252,tt0472033,30000000,48428063,9,Elijah Wood|John C. Reilly|Jennifer Connelly|C...,Shane Acker,When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,Action|Adventure|Animation|Science Fiction|Thr...,Focus Films|Starz Animation|Relativity Media|T...,8/19/2009,6.5,2009
868,tt0145487,139000000,821708551,Spider-Man,Tobey Maguire|Willem Dafoe|Kirsten Dunst|James...,Sam Raimi,With great power comes great responsibility.,After being bitten by a genetically altered sp...,121,Fantasy|Action,Columbia Pictures|Marvel Enterprises,5/1/2002,6.6,2002
94,tt2473510,10000000,78099553,Paranormal Activity: The Ghost Dimension,Chris J. Murray|Brit Shaw|Ivy George|Lauren Fr...,Gregory Plotkin,You can't save them. All you can do is watch.,"Using a special camera that can see spirits, a...",88,Horror|Thriller,Paramount Pictures|Blumhouse Productions,10/21/2015,5.0,2015
1685,tt0398808,60000000,137587063,Bridge to Terabithia,Josh Hutcherson|AnnaSophia Robb|Zooey Deschane...,GÃ¡bor CsupÃ³,"Close your eyes, but keep your mind wide open.",Jesse Aarons trained all summer to become the ...,96,Adventure|Drama|Family,Walden Media|Hal Lieberman Company|Lauren Levi...,2/16/2007,6.9,2007
805,tt1772240,5000000,25562924,Apollo 18,Ryan Robbins|Warren Christie|Lloyd Owen|Andrew...,Gonzalo LÃ³pez-Gallego,There's a reason we've never gone back to the ...,"Officially, Apollo 17 was the last manned miss...",86,Horror|Thriller|Science Fiction,Bazelevs Production|Dimension Films|Bekmambeto...,7/20/2011,4.9,2011
756,tt1222817,80000000,169852759,Zookeeper,Kevin James|Rosario Dawson|Sylvester Stallone|...,Frank Coraci,Welcome to his jungle.,A comedy about a zookeeper who might be great ...,102,Comedy|Romance|Family,Columbia Pictures|Happy Madison Productions|So...,7/6/2011,5.4,2011
1310,tt2234155,58000000,44000000,The Internship,Owen Wilson|Vince Vaughn|Tiya Sircar|Rose Byrn...,Shawn Levy,Hiring them was a brilliant mistake.,Two recently laid-off men in their 40s try to ...,119,Comedy,Twentieth Century Fox Film Corporation|Regency...,6/7/2013,6.1,2013
110,tt1810683,20000000,6420319,Little Boy,Jakob Salvati|Emily Watson|Cary-Hiroyuki Tagaw...,Alejandro Monteverde,Believe the impossible.,An eight-year-old boy is willing to do whateve...,106,Comedy|Drama|War,Metanoia Films,4/23/2015,7.1,2015
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000
1413,tt0388500,25000000,36351350,Beauty Shop,Queen Latifah|Alicia Silverstone|Andie MacDowe...,Bille Woodruff,A Cut Above,You thought you'd heard it all in the barbersh...,105,Comedy|Romance,Metro-Goldwyn-Mayer (MGM),6/2/2005,5.1,2005
1789,tt0765120,10000000,21786738,My Blueberry Nights,Norah Jones|Jude Law|David Strathairn|Rachel W...,Wong Kar-wai,How do you say goodbye to someone you can't im...,Elizabeth (Jones) has just been through a part...,111,Drama|Romance,Block 2 Pictures|Jet Tone Production|StudioCan...,5/16/2007,6.2,2007
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
146,tt1528100,140000000,268031828,Exodus: Gods and Kings,Christian Bale|Joel Edgerton|John Turturro|Aar...,Ridley Scott,"Once brothers, now enemies.",The defiant leader Moses rises up against the ...,153,Adventure|Drama|Action,Scott Free Productions|Chernin Entertainment|B...,12/3/2014,5.6,2014
1342,tt0329774,87000000,71073932,xXx: State of the Union,Ice Cube|Willem Dafoe|Samuel L. Jackson|Scott ...,Lee Tamahori,Prepare for the next level,"Ice Cube stars as Darius Stone, a thrill-seeki...",101,Action|Crime|Adventure,Original Film|Columbia Pictures Corporation|Re...,4/27/2005,4.8,2005
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002
1571,tt0377092,17000000,129042871,Mean Girls,Lindsay Lohan|Rachel McAdams|Tim Meadows|Ana G...,Mark Waters,Welcome to girl world.,"Cady Heron is a hit with The Plastics, the A-l...",97,Comedy,Paramount Pictures,4/30/2004,6.8,2004
1137,tt0264395,50000000,42792561,Basic,John Travolta|Connie Nielsen|Samuel L. Jackson...,John McTiernan,Deception is their most deadly weapon.,A DEA agent investigates the disappearance of ...,98,Action|Drama|Mystery|Thriller|Crime,Intermedia Films|Krane Entertainment,4/18/2003,6.0,2003
1155,tt0305669,20000000,132675402,Bringing Down The House,Steve Martin|Queen Latifah|Eugene Levy|Joan Pl...,Adam Shankman,"Everything he needed to know about life, she l...","Straight-laced lawyer, Peter Sanderson (Steve ...",105,Comedy,Hyde Park Films|Touchstone Pictures,3/7/2003,5.3,2003
175,tt1355630,11000000,78874843,If I Stay,ChloÃ« Grace Moretz|Jamie Blackley|Liana Liber...,R.J. Cutler,Live for Love.,Based on Gayle Forman's novel of the same name...,106,Drama,New Line Cinema|Metro-Goldwyn-Mayer (MGM),8/21/2014,7.2,2014
1706,tt0463854,15000000,64238440,28 Weeks Later,Imogen Poots|Robert Carlyle|Rose Byrne|Jeremy ...,Juan Carlos Fresnadillo,When days turn to weeks... the horror returns.,"In this chilling sequel to 28 Days Later, the ...",100,Horror|Thriller|Science Fiction,DNA Films|Figment Films|Sociedad General de Ci...,4/26/2007,6.3,2007
333,tt1174732,7500000,26096852,An Education,Carey Mulligan|Olivia Williams|Peter Sarsgaard...,Lone Scherfig,Innocence of the Young.,A coming-of-age story about a teenage girl in ...,100,Drama|Romance,BBC Films,10/29/2009,6.8,2009
1439,tt0438097,80000000,660940780,Ice Age: The Meltdown,Ray Romano|John Leguizamo|Denis Leary|Queen La...,Carlos Saldanha,The Ice age is melting away.,"Diego, Manny and Sid return in this sequel to ...",91,Animation|Family|Comedy|Adventure,Blue Sky Studios|Twentieth Century Fox Animation,3/23/2006,6.4,2006
1088,tt0315327,80000000,484572835,Bruce Almighty,Jim Carrey|Jennifer Aniston|Philip Baker Hall|...,Tom Shadyac,In Bruce we trust,"Bruce Nolan toils as a ""human interest"" televi...",101,Fantasy|Comedy,Universal Pictures|Spyglass Entertainment|Shad...,5/23/2003,6.3,2003
159,tt2180411,50000000,212902372,Into the Woods,Meryl Streep|Emily Blunt|James Corden|Anna Ken...,Rob Marshall,Be careful what you wish for...,In a woods filled with magic and fairy tale ch...,125,Fantasy|Comedy|Music,Walt Disney Pictures|Marc Platt Productions|Lu...,12/25/2014,5.6,2014

In [314]:
data.describe(include='object')

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies
count,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624
top,tt2103254,Fantastic Four,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Steven Soderbergh,Misery loves family.,A drunken playboy stands to lose a wealthy inh...,Comedy,New Line Cinema
freq,1,2,3,13,2,1,141,21

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

In [5]:
data.columns

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year'],
      dtype='object')

# Предобработка

In [168]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [171]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [172]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [8]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [179]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

In [178]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [180]:
round(data.runtime.mean())

110

In [181]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [175]:
data.runtime.median()

107.0

In [182]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [5]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

In [183]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [31]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [197]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [179]:
data.imdb_id[data.profit > 0].count()

1478

In [198]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [180]:
data.original_title[data.profit == data.profit[data.release_year == 2008].max()]

599    The Dark Knight
Name: original_title, dtype: object

In [187]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [181]:
data.original_title[data.profit == data.profit[(data.release_year <= 2014) & (data.release_year >= 2012)].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [188]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [195]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list = data.genres.str.cat(sep='|').split('|')
Counter(genres_list).most_common(1)[0][0]

'Drama'

ВАРИАНТ 2

In [10]:
genres_list = pd.Series(data.genres.str.cat(sep='|').split('|'))
genres_list.describe()['top']

'Drama'

ВАРИАНТ 3

In [7]:
genres = data.genres.apply(lambda x: x.split('|'))
loop = {}
for i in genres:
    for g in i:
        if g in loop:
            loop[g] +=1
        else: loop[g] = 1
sorted(loop, key=loop.get, reverse=True)[0]

'Drama'

In [ ]:
answers['11'] = 'Drama'

ВАРИАНТ 4

In [3]:
all_genres = data.genres.str.get_dummies('|').sum()
all_genres.sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [269]:
profit_data = data[data.profit > 0]
genres_list = profit_data.genres.str.cat(sep='|').split('|')
Counter(genres_list).most_common(1)[0][0]

'Drama'

In [8]:
profit_data = data[data.profit > 0]
genres_list = pd.Series(profit_data.genres.str.cat(sep='|').split('|'))
genres_list.describe()['top']

'Drama'

In [216]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [184]:
data.groupby('director')['profit'].sum().sort_values(ascending=False)[:1]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

In [194]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [194]:
director_list = data.director[data.genres.str.contains('Action')].str.cat(sep='|').split('|')
Counter(director_list).most_common(1)[0][0]

'Robert Rodriguez'

In [188]:
Counter(director_list).most_common(1)

[('Robert Rodriguez', 9)]

In [217]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [242]:
data[data.release_year == 2012]
data_2012 = data[data.release_year == 2012]
cast_list = data_2012.cast.str.cat(sep = '|').split('|')
cast_revenue_dict = {x:data_2012.revenue[data_2012.cast.str.contains(x)].sum() for x in cast_list}
sorted(cast_revenue_dict, key=cast_revenue_dict.get, reverse=True)[0]

'Chris Hemsworth'

In [200]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [262]:
budget_data = data[data.budget > data.budget.mean()]
cast_list = budget_data.cast.str.cat(sep = '|').split('|')
hb_actors = pd.Series({x:budget_data.imdb_id[budget_data.cast.str.contains(x)].count() for x in cast_list})
hb_actors.sort_values(ascending=False).index[0]

'Matt Damon'

In [201]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [266]:
nicolas_data = data[data.cast.str.contains('Nicolas Cage')]
nicolas_genres = nicolas_data.genres.str.cat(sep='|').split('|')
Counter(nicolas_genres).most_common(1)[0][0]

'Action'

In [202]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [276]:
data2 = data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit < 0)]
data2.original_title[data2.profit == data2.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [203]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [280]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [204]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [282]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2014

In [205]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [81]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month.astype('str')
data.describe(include='object')['month']['top']

'9'

In [206]:
answers['20'] = '2014'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [82]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.month[(data.month == 7)|(data.month == 8)|(data.month == 9)].count()

530

In [207]:
answers['21'] = '530'

In [83]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month.astype('str')
data.month[(data.month == '6')|(data.month == '7')|(data.month == '8')].count()

450

In [208]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [158]:
winter_data = data[(data.month == '1')|(data.month == '2')|(data.month == '12')]
winter_dir = winter_data.director.str.cat(sep='|').split('|')
winter_dir
Counter(winter_dir).most_common(1)[0][0]

'Peter Jackson'

In [209]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [113]:
data['len_name'] = data.original_title.apply(lambda x: len(x))
companies_list = data.production_companies.str.cat(sep="|").split("|")
companies_dict = {x:list(data.len_name[data.production_companies.str.contains(x)]) for x in companies_list}
companies_dict_2 = {}
for companies in companies_dict:
    if len(companies_dict[companies]) != 0:
        companies_dict_2[companies] = companies_dict[companies]
final_dict = {x:sum(companies_dict_2[x])/len(companies_dict_2[x]) for x in companies_dict_2}
sorted(final_dict, key=final_dict.get, reverse=True)[0]

'Four By Two Productions'

In [210]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [114]:
data['words_overview'] = data.overview.apply(lambda x: len(x.split(" ")))
companies_list = data.production_companies.str.cat(sep="|").split("|")
companies_dict = {x:list(data.words_overview[data.production_companies.str.contains(x)]) for x in companies_list}
companies_dict_2 = {}
for companies in companies_dict:
    if len(companies_dict[companies]) != 0:
        companies_dict_2[companies] = companies_dict[companies]
final_dict = {x:sum(companies_dict_2[x])/len(companies_dict_2[x]) for x in companies_dict_2}
sorted(final_dict, key=final_dict.get, reverse=True)[0]

'Midnight Picture Show'

In [211]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [67]:
data.original_title[data.vote_average > data.vote_average.quantile(q=0.99)]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [212]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [219]:
actors_duet = {'Johnny Depp|Helena Bonham Carter':0, 'Ben Stiller|Owen Wilson':0, 'Vin Diesel|Paul Walker':0, 
               'Adam Sandler|Kevin James':0, 'Daniel Radcliffe|Rupert Grint':0}
for actors in actors_duet.keys():
    actors_duet[actors] = data.original_title[(data.cast.str.contains(actors.split('|')[0]))&(data.cast.str.contains(actors.split('|')[1]))].count()
sorted(actors_duet, key=actors_duet.get, reverse=True)[0] 
actors_duet

{'Johnny Depp|Helena Bonham Carter': 6,
 'Ben Stiller|Owen Wilson': 6,
 'Vin Diesel|Paul Walker': 5,
 'Adam Sandler|Kevin James': 5,
 'Daniel Radcliffe|Rupert Grint': 8}

ВАРИАНТ 2

In [ ]:
actors = list(set(data.cast.str.cat(sep='|').split('|')))
actors_column = pd.DataFrame({'actor':actors, 'movies_count':[data.original_title[data.cast.str.contains(x)].count() for x in actors]})
actors_column_2 = actors_column[actors_column.movies_count > round(actors_column.movies_count.mean())]
top_actors = list(actors_column_2.actor)
pairs_actors = list(it.combinations(top_actors, 2))
pairs_actors_dict = {}
for i in pairs_actors:
    pairs_actors_dict[i] = 0
for actors in pairs_actors:
    pairs_actors_dict[actors] = data.original_title[(data.cast.str.contains(actors[0])) & (data.cast.str.contains(actors[1]))].count()
sorted(pairs_actors_dict, key=pairs_actors_dict.get, reverse=True)

In [213]:
answers['27'] = 'Daniel Radcliffe|Rupert Grinte'

# Submission

In [214]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': 'Daniel Radcliffe|Rupert Grinte',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '8': '1478',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '530',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [218]:
# и убедиться что ни чего не пропустил)
len(answers)

27