In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(25)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1633,tt0375063,16000000,109502303,Sideways,Paul Giamatti|Thomas Haden Church|Virginia Mad...,Alexander Payne,In search of wine. In search of women. In sear...,Two middle-aged men embark on a spiritual jour...,126,Comedy|Drama|Romance,Fox Searchlight Pictures|Michael London Produc...,10/22/2004,6.6,2004
1037,tt1758830,35000000,88058786,This Is 40,Paul Rudd|Leslie Mann|Jason Segel|Maude Apatow...,Judd Apatow,The sort-of sequel to 'Knocked Up',"Pete and Debbie are both about to turn 40, the...",134,Comedy,Apatow Productions,12/20/2012,5.5,2012
231,tt1929263,12000000,101332962,Heaven is for Real,Greg Kinnear|Kelly Reilly|Connor Corum|Thomas ...,Randall Wallace,Unlock the mystery,Heaven is for Real recounts the true story of ...,99,Drama,TriStar Pictures|Screen Gems|Roth Films,4/16/2014,6.1,2014
122,tt1951265,125000000,752100229,The Hunger Games: Mockingjay - Part 1,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Fire burns brighter in the darkness,Katniss Everdeen reluctantly becomes the symbo...,123,Science Fiction|Adventure|Thriller,Lionsgate|Color Force,11/18/2014,6.6,2014
565,tt0236784,21000000,28008462,The Tailor of Panama,Pierce Brosnan|Geoffrey Rush|Jamie Lee Curtis|...,John Boorman,"In a place this treacherous, what a good spy n...",A British spy is banished to Panama after havi...,109,Drama|Thriller,Columbia Pictures|Merlin Films,2/11/2001,5.7,2001
60,tt3076658,35000000,137935567,Creed,Michael B. Jordan|Sylvester Stallone|Graham Mc...,Ryan Coogler,Your legacy is more than a name,The former World Heavyweight Champion Rocky Ba...,133,Drama,New Line Cinema|Warner Bros.|Metro-Goldwyn-May...,11/25/2015,7.3,2015
324,tt0762125,70000000,104945765,Planet 51,Dwayne Johnson|Seann William Scott|Jessica Bie...,Jorge Blanco|Javier Abad|Marcos MartÃ­nez,Something strange is coming to their planet...Us!,When Earth astronaut Capt. Chuck Baker arrives...,91,Science Fiction|Animation|Family|Comedy|Adventure,TriStar Pictures|Ilion Animation Studios|Hand ...,11/19/2009,5.7,2009
204,tt1742334,35000000,17508518,Sabotage,Arnold Schwarzenegger|Sam Worthington|Mireille...,David Ayer,Leave no loose ends,"In ""Sabotage"", Arnold Schwarzenegger leads an ...",110,Action|Drama|Thriller|Crime,Open Road Films|QED International|Albert S. Ru...,3/28/2014,5.4,2014
581,tt0211465,15000000,12000000,Knockaround Guys,Barry Pepper|Andy Davoli|Seth Green|Vin Diesel...,Brian Koppelman|David Levien,"If they don't finish the job, their fathers wi...",Four sons of well-known New York mobsters must...,92,Crime|Thriller,Lawrence Bender Productions,9/7/2001,5.7,2001
664,tt0369436,80000000,163733697,Four Christmases,Reese Witherspoon|Vince Vaughn|Robert Duvall|M...,Seth Gordon,"His father, her mother, his mother and her fat...",Brad and Kate have made something of an art fo...,88,Comedy|Romance|Drama,New Line Cinema|Spyglass Entertainment|Type A ...,11/26/2008,5.3,2008
1264,tt1661382,40000000,44907260,Grudge Match,Robert De Niro|Sylvester Stallone|Alan Arkin|J...,Peter Segal,DeNiro vs Stallone,A pair of aging boxing rivals are coaxed out o...,113,Comedy,Gerber Pictures|Warner Bros.,12/25/2013,6.0,2013
1317,tt0367594,150000000,474968763,Charlie and the Chocolate Factory,Johnny Depp|Freddie Highmore|AnnaSophia Robb|J...,Tim Burton,Willy Wonka is semi-sweet and nuts.,A young boy wins a tour through the most magni...,115,Adventure|Comedy|Family|Fantasy,Village Roadshow Pictures|The Zanuck Company|W...,7/9/2005,6.5,2005
1697,tt0478311,30000000,219076518,Knocked Up,Seth Rogen|Katherine Heigl|Leslie Mann|Paul Ru...,Judd Apatow,Save the due date.,"For fun loving party animal Ben Stone, the las...",129,Comedy|Romance|Drama,Universal Pictures|Apatow Productions,6/1/2007,6.0,2007
1082,tt0320691,22000000,95708457,Underworld,Kate Beckinsale|Scott Speedman|Michael Sheen|S...,Len Wiseman,An immortal battle for supremacy.,Vampires and werewolves have waged a nocturnal...,121,Fantasy|Action|Thriller,Lakeshore Entertainment|Laurinfilm|Subterranea...,9/19/2003,6.5,2003
1586,tt0405159,30000000,216763646,Million Dollar Baby,Clint Eastwood|Hilary Swank|Morgan Freeman|Jay...,Clint Eastwood,"Beyond his silence, there is a past. Beyond he...",Despondent over a painful estrangement from hi...,132,Drama,Lakeshore Entertainment|Malpaso Productions|Ep...,12/14/2004,7.6,2004
1148,tt0338459,38000000,197011982,Spy Kids 3-D: Game Over,Antonio Banderas|Carla Gugino|Alexa PenaVega|D...,Robert Rodriguez,3rd Mission. 3rd Dimension.,Carmen's caught in a virtual reality game desi...,84,Action|Adventure|Comedy|Family|Science Fiction,Dimension Films,7/25/2003,4.8,2003
847,tt1726669,10000000,3665069,Killer Joe,Matthew McConaughey|Emile Hirsch|Thomas Haden ...,William Friedkin,A Totally Deep-Fried Texas Redneck Trailer Par...,A cop (Matthew McConaughey) who moonlights as ...,102,Drama|Thriller,Voltage pictures|Worldview Entertainment|ANA M...,9/10/2011,6.3,2011
629,tt0452608,45000000,73762516,Death Race,Jason Statham|Joan Allen|Ian McShane|Tyrese Gi...,Paul W.S. Anderson,Get ready for a killer race.,"Terminal Island, New York: 2020. Overcrowding ...",105,Action|Thriller|Science Fiction,Universal Pictures|Cruise/Wagner Productions|I...,8/22/2008,5.9,2008
1024,tt1855199,7000000,48126384,End of Watch,Jake Gyllenhaal|Michael PeÃ±a|Natalie Martinez...,David Ayer,Every moment of your life they stand watch,"Shot documentary-style, this film follows the ...",109,Crime|Drama|Thriller,Emmett/Furla Films|Exclusive Media Group|Hedge...,9/20/2012,7.1,2012
657,tt0364970,70000000,72108608,Babylon A.D.,Vin Diesel|Michelle Yeoh|MÃ©lanie Thierry|Lamb...,Mathieu Kassovitz,Kill or be Killed.,In Babylon A.D Vin Diesel stars as a veteran-t...,101,Action|Adventure|Science Fiction|Thriller,StudioCanal|M6 Films|Canal+|CinÃ©CinÃ©ma|Babylon,8/20/2008,5.4,2008
1127,tt0338094,90000000,182290266,The Haunted Mansion,Eddie Murphy|Terence Stamp|Nathaniel Parker|Ma...,Rob Minkoff,Check your pulse at the door... if you have one.,Workaholic Jim Evers and his wife/business par...,99,Thriller|Fantasy|Comedy|Family|Mystery,Walt Disney Pictures|Gunn Films|Doom Buggy Pro...,11/25/2003,5.1,2003
1594,tt0327679,31000000,27388767,Ella Enchanted,Anne Hathaway|Hugh Dancy|Cary Elwes|Aidan McAr...,Tommy O'Haver,Get enchanted,"Ella of Frell is given the ""gift of obedience""...",96,Fantasy|Comedy|Family|Romance,Miramax Films,4/9/2004,5.7,2004
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
490,tt0473102,12500000,3878993,The Perfect Game,"Clifton Collins, Jr.|Cheech Marin|MoisÃ©s Aria...",William Dear,Dream for the fences.,"Based on a true story, a group of boys from Mo...",118,Drama|Family,HighRoad Entertainment|Prelude Pictures|Lone R...,4/1/2010,5.7,2010
822,tt1540133,6000000,19560274,The Guard,Brendan Gleeson|Don Cheadle|Liam Cunningham|Ma...,John Michael McDonagh,The FBI are about to discover that things work...,An unorthodox Irish policeman with a confronta...,96,Action|Comedy|Thriller|Crime,UK Film Council|Crescendo Productions|Element ...,7/7/2011,6.6,2011

In [314]:
data.describe(include='object')

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies
count,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624
top,tt2103254,Fantastic Four,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Steven Soderbergh,Misery loves family.,A drunken playboy stands to lose a wealthy inh...,Comedy,New Line Cinema
freq,1,2,3,13,2,1,141,21

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

In [5]:
data.columns

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year'],
      dtype='object')

# Предобработка

In [168]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [171]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [172]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [8]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [179]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

In [178]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [180]:
round(data.runtime.mean())

110

In [181]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [175]:
data.runtime.median()

107.0

In [182]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [184]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

In [183]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [31]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [197]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [179]:
data.imdb_id[data.profit > 0].count()

1478

In [198]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [180]:
data.original_title[data.profit == data.profit[data.release_year == 2008].max()]

599    The Dark Knight
Name: original_title, dtype: object

In [187]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [181]:
data.original_title[data.profit == data.profit[(data.release_year <= 2014) & (data.release_year >= 2012)].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [188]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [195]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list = data.genres.str.cat(sep='|').split('|')
Counter(genres_list).most_common(1)[0][0]

'Drama'

ВАРИАНТ 2

In [193]:
genres_list = pd.Series(data.genres.str.cat(sep='|').split('|'))
genres_list.describe(include='object').loc['top']

'Drama'

In [ ]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [269]:
profit_data = data[data.profit > 0]
genres_list = profit_data.genres.str.cat(sep='|').split('|')
Counter(genres_list).most_common(1)[0][0]

'Drama'

In [216]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [184]:
data.groupby('director')['profit'].sum().sort_values(ascending=False)[:1]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

In [194]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [194]:
director_list = data.director[data.genres.str.contains('Action')].str.cat(sep='|').split('|')
Counter(director_list).most_common(1)[0][0]

'Robert Rodriguez'

In [188]:
Counter(director_list).most_common(1)

[('Robert Rodriguez', 9)]

In [217]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [242]:
data[data.release_year == 2012]
data_2012 = data[data.release_year == 2012]
cast_list = data_2012.cast.str.cat(sep = '|').split('|')
cast_revenue_dict = {x:data_2012.revenue[data_2012.cast.str.contains(x)].sum() for x in cast_list}
sorted(cast_revenue_dict, key=cast_revenue_dict.get, reverse=True)[0]

'Chris Hemsworth'

In [200]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [262]:
budget_data = data[data.budget > data.budget.mean()]
cast_list = budget_data.cast.str.cat(sep = '|').split('|')
hb_actors = pd.Series({x:budget_data.imdb_id[budget_data.cast.str.contains(x)].count() for x in cast_list})
hb_actors.sort_values(ascending=False).index[0]

'Matt Damon'

In [201]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [266]:
nicolas_data = data[data.cast.str.contains('Nicolas Cage')]
nicolas_genres = nicolas_data.genres.str.cat(sep='|').split('|')
Counter(nicolas_genres).most_common(1)[0][0]

'Action'

In [202]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [276]:
data2 = data[(data.production_companies.str.contains('Paramount Pictures')) & (data.profit < 0)]
data2.original_title[data2.profit == data2.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [203]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [280]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [204]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [282]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2014

In [205]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [81]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month.astype('str')
data.describe(include='object')['month']['top']

'9'

In [206]:
answers['20'] = '2014'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [82]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.month[(data.month == 7)|(data.month == 8)|(data.month == 9)].count()

530

In [207]:
answers['21'] = '530'

In [83]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month.astype('str')
data.month[(data.month == '6')|(data.month == '7')|(data.month == '8')].count()

450

In [208]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [158]:
winter_data = data[(data.month == '1')|(data.month == '2')|(data.month == '12')]
winter_dir = winter_data.director.str.cat(sep='|').split('|')
winter_dir
Counter(winter_dir).most_common(1)[0][0]

'Peter Jackson'

In [209]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [113]:
data['len_name'] = data.original_title.apply(lambda x: len(x))
companies_list = data.production_companies.str.cat(sep="|").split("|")
companies_dict = {x:list(data.len_name[data.production_companies.str.contains(x)]) for x in companies_list}
companies_dict_2 = {}
for companies in companies_dict:
    if len(companies_dict[companies]) != 0:
        companies_dict_2[companies] = companies_dict[companies]
final_dict = {x:sum(companies_dict_2[x])/len(companies_dict_2[x]) for x in companies_dict_2}
sorted(final_dict, key=final_dict.get, reverse=True)[0]

'Four By Two Productions'

In [210]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [114]:
data['words_overview'] = data.overview.apply(lambda x: len(x.split(" ")))
companies_list = data.production_companies.str.cat(sep="|").split("|")
companies_dict = {x:list(data.words_overview[data.production_companies.str.contains(x)]) for x in companies_list}
companies_dict_2 = {}
for companies in companies_dict:
    if len(companies_dict[companies]) != 0:
        companies_dict_2[companies] = companies_dict[companies]
final_dict = {x:sum(companies_dict_2[x])/len(companies_dict_2[x]) for x in companies_dict_2}
sorted(final_dict, key=final_dict.get, reverse=True)[0]

'Midnight Picture Show'

In [211]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [67]:
data.original_title[data.vote_average > data.vote_average.quantile(q=0.99)]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [212]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [219]:
actors_duet = {'Johnny Depp|Helena Bonham Carter':0, 'Ben Stiller|Owen Wilson':0, 'Vin Diesel|Paul Walker':0, 
               'Adam Sandler|Kevin James':0, 'Daniel Radcliffe|Rupert Grint':0}
for actors in actors_duet.keys():
    actors_duet[actors] = data.original_title[(data.cast.str.contains(actors.split('|')[0]))&(data.cast.str.contains(actors.split('|')[1]))].count()
sorted(actors_duet, key=actors_duet.get, reverse=True)[0] 
actors_duet

{'Johnny Depp|Helena Bonham Carter': 6,
 'Ben Stiller|Owen Wilson': 6,
 'Vin Diesel|Paul Walker': 5,
 'Adam Sandler|Kevin James': 5,
 'Daniel Radcliffe|Rupert Grint': 8}

ВАРИАНТ 2

In [ ]:
actors = list(set(data.cast.str.cat(sep='|').split('|')))
actors_column = pd.DataFrame({'actor':actors, 'movies_count':[data.original_title[data.cast.str.contains(x)].count() for x in actors]})
actors_column_2 = actors_column[actors_column.movies_count > round(actors_column.movies_count.mean())]
top_actors = list(actors_column_2.actor)
pairs_actors = list(it.combinations(top_actors, 2))
pairs_actors_dict = {}
for i in pairs_actors:
    pairs_actors_dict[i] = 0
for actors in pairs_actors:
    pairs_actors_dict[actors] = data.original_title[(data.cast.str.contains(actors[0])) & (data.cast.str.contains(actors[1]))].count()
sorted(pairs_actors_dict, key=pairs_actors_dict.get, reverse=True)

In [213]:
answers['27'] = 'Daniel Radcliffe|Rupert Grinte'

# Submission

In [214]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': 'Daniel Radcliffe|Rupert Grinte',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '8': '1478',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '530',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [218]:
# и убедиться что ни чего не пропустил)
len(answers)

27